{% extends "base.html" %}
{% load static %}

{% block heading %} Category list {% endblock heading %}

{% block content %} 




<div class="row">

	{% for x in category %}
	
	<div class="col-sm-12 col-md-4 col-lg-3">
	
		<div class="card pushbuttom" align="center">
	  		<div class="card-header centerme">
					<a href="/products/?category={{x.name}}">
						<img src="/media/{{x.image}}" width="35%">
					<br>{{x.name}}</a>
					<br> <p class="centerme">{{x.description}}</p>
			</div>
		</div>	
	</div>
		
	{% endfor %}
</div>


{% endblock content %}