{% extends "base.html" %}

{% block heading %} Detail {% endblock heading %}

{% block content %} 
<div class="col-11">
	{% if items.image %}
        <img src="{{items.image.url}}" alt="" class="detail-img-max-width">
    {% endif %}

<div class="detail-content">	    
	<h1>{{items.name}}</h1>
	<p>{{items.description|linebreaks}}</p>
	ID | {{items.id}} 

	<form action="{% url 'cart:mycart' %}" method="GET">
		<input type="hidden" name="item_id" value="{{items.id}}"/>
		<input type="hidden" class="item-qty" name="qty" value="1"/>
		<input type="submit" class="btn btn-success" value="Add to Cart"/>
	</form>
	<br>
	<br>
</div>

</div>


<script>
function goBack() {
    window.history.back()
}
</script>
<input type="button" class="btn btn-primary" value="Back" onclick="goBack()">


{% endblock content %} 
