<nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar-bottom-mgn">
  <a class="navbar-brand" href="#">Home Services</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homeservices:home_view' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homeservices:category_view' %}">Categories</a>
      </li>

    </ul>

      {% if request.user.is_authenticated %}
      <li class="nav-item form-inline">
        <a class="nav-link" href="{% url 'homeservices:userlogout' %}">logout</a>
      </li>
      {% else %}
      <li class="nav-item form-inline">
        <a class="nav-link" href="{% url 'homeservices:userlogin' %}">login</a>
      </li>
      <li class="nav-item form-inline">
        <a class="nav-link" href="{% url 'homeservices:usersignup' %}">signup</a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
      <li class="nav-item form-inline">
        <small><a class="nav-link disabled" href="#">logged in as: {{request.user}}</a></small>
      </li>        
      {% endif %}
 
{% comment %}
     
   
    <form class="form-inline my-2 my-lg-0" action="{% url 'homeservices:products' %}" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  type="text" name="q" value="{{request.GET.q}}">
      <input type='hidden' name='category' value="{{request.GET.category}}">
      <input type='hidden' name='category' value="{{request.GET.category}}">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>

{% endcomment %}   
  </div>
</nav>